<div class="my-carousel" style="padding-top: 4%;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a target="_blank">
          <img src="https://www.molib.fr/diz/ged-4.jpg" alt="Image-1" style="width:100%;">
        </a>
      </div>

      <div class="item">
        <a target="_blank">
          <img src="https://www.molib.fr/diz/ged-4.jpg" alt="Image-3" style="width:100%;">
        </a>
      </div>

      <div class="item">
        <a target="_blank">
          <img src="https://www.molib.fr/diz/ged-4.jpg" alt="Image-3" style="width:100%;">
        </a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="fa fa-angle-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="fa fa-angle-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="container-fluid col-md-12">

  <div class="container col-md-12" style="margin-top: 1%;">

    <div class="col-md-2 container">
      <img class="img-thumbnail" style="height: 250px;" src="../../../assets/images/bg-01.jpg" alt="" />
    </div>

    <div class="col-md-9 container" style="height: 250px;">

      <div class="container register col-md-12" style="height: 100%;">

        <div class="row" style="height: 100%;">

          <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>You are 30 seconds away from earning your own money!</p>
            <input type="submit" name="" value="Login"/><br/>
          </div>

          <div class="col-md-9 register-right">

            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <h3 class="register-heading">Apply as a Employee</h3>

                <div class="row register-form">

                  <div class="col-md-12">

                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="First Name *" value="" />
                    </div>

                    <div class="form-group col-md-4">
                      <input type="text" class="form-control" placeholder="Last Name *" value="" />
                    </div>

                    <div class="form-group col-md-4">
                      <input type="password" class="form-control" placeholder="Password *" value="" />
                    </div>

                  </div>

                  <div class="col-md-12">
                    <div class="form-group col-md-4">
                      <input type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                    </div>

                    <div class="form-group col-md-4">
                      <input type="email" class="form-control" placeholder="Your Email *" value="" />
                    </div>

                    <div class="form-group col-md-4">
                      <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="container-fluid col-md-1" style="background-color: grey; height: 250px;">
      <div class="btn-group-vertical" style="margin-left: -14px;">
        <button type="button" style="margin-bottom: 6px;" class="btn btn-primary">Nouveau</button>
        <button type="button" style="margin-bottom: 6px;" class="btn btn-primary">Supprimer</button>
        <button type="button" style="margin-bottom: 6px;" class="btn btn-primary">Modifier</button>
        <button type="button" style="margin-bottom: 6px;" class="btn btn-primary">Télécharger</button>
        <button type="button" style="margin-bottom: 6px;" class="btn btn-primary">Imprimer</button>
        <button type="button" style="margin-bottom: 6px;" class="btn btn-primary">Actualiser</button>
      </div>
    </div>

  </div>

  <div class="col-md-3" style="height: auto;">

    <h5>INFORMATION</h5>

    <form class="margin">

      <div class="form-group">
        <label class="color">Matricule</label><br />
        <label>1</label>
      </div>

      <div class="form-group">
        <label class="color">Date D'EMBAUCHE</label><br />
        <label>19/09/12</label>
      </div>

      <div class="form-group">
        <label class="color">DATE DE MODIFICATION/</label><br />
        <label>19/09/12</label>
      </div>

    </form>

  </div>

  <div class="col-md-9">

    <div class="panel panel-primary" style="margin-top: 10px;">

      <div class="panel-heading">Liste des utilisateurs</div>

      <div class="panel-body">

        <table class="table table-striped">

          <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>

          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>

          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>

          <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>

        </table>

      </div>

    </div>

  </div>

</div>
